@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
  margin: 0px;
  padding: 0px;
}

.title-bar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: #424242;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px;
}

.buttons {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 10px;
}

.window-btn {
  border-radius: 12px;
  padding: 0;
  width: 12px;
  height: 12px;
  cursor: pointer;
  float: left;
  margin-top: 2px;
}

.buttons > .close-btn {
  background-color: #CE1217;
}

.buttons > .minimize-btn {
  background-color: #E48C6C;
  margin-left: 5px;
}

.buttons > .maximize-btn {
  background-color: #0D8F54;
  margin-left: 5px;
}

.buttons > .close-btn:hover:after {
  content: 'x';
  color: #940004;
  position: relative;
  top: -5px;
  font-size: 12px;
  left: 0px;
}

.buttons > .minimize-btn:hover:after {
  content: '-';
  color: #AD4D2A;
  position: relative;
  top: -3px;
  font-size: 15px;
}

.buttons > .maximize-btn:hover:after {
  content: '+';
  color: #095734;
  position: relative;
  top: -3px;
}

.content {
  -webkit-user-select: auto;
  -webkit-app-region: none;
  padding-left: 70px;
}

.left-nav {
  position: fixed;
  top: 100px;
  list-style-type: none;
  padding: 0 0 0 10px;
  color: white;
  width: 23px;
  border-radius: 0 5px 5px 0;
}

.left-nav li {
  position: absolute;
  width: 100px;
}

.soql {

}

#sidebar {
    background-color: #16a085;
    color: white;
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 36px;
    width: 50px;
    z-index: 2;
}
#sidebar .link-text {
    display: none;
    margin-left: 10px;
}
.link-text-show {
    display: block;
}
/*#sidebar:hover {
    width: 200px;
}*/
#sidebar a {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.3;
}

#sidebar-nav {
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
}

.nav-stacked li {
  font-size: 15px;
}

.nav-stacked li>a:hover {
  background-color: white !important;
  color: #16a085 !important;
  opacity: 1.0 !important;
}

.menu-active a{
  opacity: 1.0 !important;
}

#sidebar-nav li.nav-divider {
  margin-bottom: 50px;
}

.soql-editor {
  width: 100%;
  height: 40px;
  padding: 15px;
  font-family: "Ubuntu", sans-serif;
  font-size: 100%;
  background:#111;
  color: #29DD33;
  outline: none;
  border: none;
  margin-bottom: 10px;
}

#run-btn {
  cursor: pointer;
}

.editor {
  border-bottom: solid 1px;
  padding-bottom: 10px;
  width: 95%;
}
}